# ADVANCED IMPUTATION METHODS: KNN Imputation using Python - Example
The sprint productivity data is given in Preprocessing_Data_I and
Preprocessing_Data_II files. Kindly append the files and replace the missing
values using k-nn (k = 4)

In [1]:
#Import the packages
import pandas as mypd
from sklearn.impute import KNNImputer

In [2]:
#Import the data
mydata1=mypd.read_excel('D:/Python_ISI/data/Preprocessing_Data_I.xlsx')

In [3]:
#Explore the data
mydata1.head()

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.0,100.0,70.0,30,3,0.46
1,2,5,2,5,20.0,70.0,100.0,15,1,0.08
2,3,4,1,4,20.0,70.0,100.0,15,2,0.11
3,4,4,1,4,30.0,70.0,70.0,50,4,0.73
4,5,5,2,5,NaN,100.0,NaN,50,4,0.50

In [4]:
#Check for missing values
mydata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SL No             20 non-null     int64
 1   Reviewer_Skill    20 non-null     int64
 2   Review_Type       20 non-null     int64
 3   Domain_Knowledge  20 non-null     int64
 4   Review_Time       19 non-null     float64
 5   Test_Coverage     19 non-null     float64
 6   Review_Coverage   19 non-null     float64
 7   Reuse             20 non-null     int64
 8   Review_Rate       20 non-null     int64
 9   Sprint_Prod       20 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 1.7 KB

In [5]:
#Import the 2nd data
mydata2=mypd.read_csv('D:/Python_ISI/data/Preprocessing_Data_II.csv')

In [6]:
mydata2.head()

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,21,5,2,5,20.0,50,50.0,50.0,3,0.54
1,22,3,1,3,20.0,100,70.0,10.0,2,0.18
2,23,4,1,4,20.0,100,NaN,10.0,3,0.37
3,24,4,1,4,20.0,100,70.0,20.0,3,0.47
4,25,3,1,3,NaN,100,70.0,25.0,1,0.37

In [7]:
mydata2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SL No             14 non-null     int64
 1   Reviewer_Skill    14 non-null     int64
 2   Review_Type       14 non-null     int64
 3   Domain_Knowledge  14 non-null     int64
 4   Review_Time       13 non-null     float64
 5   Test_Coverage     14 non-null     int64
 6   Review_Coverage   13 non-null     float64
 7   Reuse             13 non-null     float64
 8   Review_Rate       14 non-null     int64
 9   Sprint_Prod       14 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 1.2 KB

In [8]:
#Append the files
mydata=mydata1.append(mydata2,ignore_index=True)

C:\Users\Anannya\AppData\Local\Temp\ipykernel_7700\426689538.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mydata=mydata1.append(mydata2,ignore_index=True)

In [9]:
mydata=mydata.iloc[:,1:10]
mydata.head()

,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,4,1,4,30.0,100.0,70.0,30.0,3,0.46
1,5,2,5,20.0,70.0,100.0,15.0,1,0.08
2,4,1,4,20.0,70.0,100.0,15.0,2,0.11
3,4,1,4,30.0,70.0,70.0,50.0,4,0.73
4,5,2,5,NaN,100.0,NaN,50.0,4,0.50

In [10]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Reviewer_Skill    34 non-null     int64
 1   Review_Type       34 non-null     int64
 2   Domain_Knowledge  34 non-null     int64
 3   Review_Time       32 non-null     float64
 4   Test_Coverage     33 non-null     float64
 5   Review_Coverage   32 non-null     float64
 6   Reuse             33 non-null     float64
 7   Review_Rate       34 non-null     int64
 8   Sprint_Prod       34 non-null     float64
dtypes: float64(5), int64(4)
memory usage: 2.5 KB

In [11]:
mydata

,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,4,1,4,30.0,100.0,70.0,30.0,3,0.46
1,5,2,5,20.0,70.0,100.0,15.0,1,0.08
2,4,1,4,20.0,70.0,100.0,15.0,2,0.11
3,4,1,4,30.0,70.0,70.0,50.0,4,0.73
4,5,2,5,NaN,100.0,NaN,50.0,4,0.50
5,3,1,3,30.0,100.0,70.0,25.0,1,0.35
6,4,2,4,30.0,70.0,100.0,25.0,2,0.19
7,4,1,4,20.0,70.0,70.0,10.0,4,0.23
8,3,1,3,30.0,70.0,70.0,20.0,3,0.16
9,5,2,5,20.0,70.0,100.0,70.0,4,1.60
10,3,1,3,30.0,100.0,70.0,30.0,1,0.37
11,4,1,4,30.0,100.0,70.0,50.0,2,0.76
12,4,1,4,30.0,100.0,100.0,50.0,2,0.66
13,5,2,5,20.0,70.0,100.0,70.0,4,1.27
14,4,2,4,30.0,50.0,50.0,50.0,2,0.57
15,4,1,4,30.0,NaN,50.0,50.0,3,0.52
16,4,2,4,30.0,50.0,50.0,50.0,2,0.50
17,5,2,5,20.0,70.0,70.0,70.0,4,0.99
18,5,2,5,20.0,70.0,70.0,70.0,4,0.92
19,3,1,3,20.0,70.0,70.0,15.0,3,0.26
20,5,2,5,20.0,50.0,50.0,50.0,3,0.54
21,3,1,3,20.0,100.0,70.0,10.0,2,0.18
22,4,1,4,20.0,100.0,NaN,10.0,3,0.37
23,4,1,4,20.0,100.0,70.0,20.0,3,0.47
24,3,1,3,NaN,100.0,70.0,25.0,1,0.37
25,4,2,4,30.0,70.0,50.0,70.0,2,0.78
26,3,1,3,20.0,100.0,70.0,20.0,1,0.34
27,3,1,3,20.0,100.0,70.0,20.0,1,0.38
28,4,2,4,30.0,100.0,70.0,NaN,2,0.52
29,5,2,5,20.0,100.0,70.0,70.0,4,1.26
30,4,2,4,30.0,100.0,70.0,10.0,1,0.32
31,4,2,4,30.0,70.0,100.0,10.0,1,0.09
32,5,2,5,20.0,70.0,70.0,70.0,4,1.69
33,5,2,5,30.0,50.0,50.0,50.0,2,0.73

In [12]:
#Replace missing values using KNN method(k=4)
knn=KNNImputer(n_neighbors=4)

In [13]:
cleaned_data=knn.fit_transform(mydata)

In [14]:
cleaned_data=mypd.DataFrame(cleaned_data,columns=mydata.columns)

In [15]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Reviewer_Skill    34 non-null     float64
 1   Review_Type       34 non-null     float64
 2   Domain_Knowledge  34 non-null     float64
 3   Review_Time       34 non-null     float64
 4   Test_Coverage     34 non-null     float64
 5   Review_Coverage   34 non-null     float64
 6   Reuse             34 non-null     float64
 7   Review_Rate       34 non-null     float64
 8   Sprint_Prod       34 non-null     float64
dtypes: float64(9)
memory usage: 2.5 KB

In [16]:
cleaned_data

,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,4.0,1.0,4.0,30.0,100.0,70.0,30.0,3.0,0.46
1,5.0,2.0,5.0,20.0,70.0,100.0,15.0,1.0,0.08
2,4.0,1.0,4.0,20.0,70.0,100.0,15.0,2.0,0.11
3,4.0,1.0,4.0,30.0,70.0,70.0,50.0,4.0,0.73
4,5.0,2.0,5.0,30.0,100.0,72.5,50.0,4.0,0.50
5,3.0,1.0,3.0,30.0,100.0,70.0,25.0,1.0,0.35
6,4.0,2.0,4.0,30.0,70.0,100.0,25.0,2.0,0.19
7,4.0,1.0,4.0,20.0,70.0,70.0,10.0,4.0,0.23
8,3.0,1.0,3.0,30.0,70.0,70.0,20.0,3.0,0.16
9,5.0,2.0,5.0,20.0,70.0,100.0,70.0,4.0,1.60
10,3.0,1.0,3.0,30.0,100.0,70.0,30.0,1.0,0.37
11,4.0,1.0,4.0,30.0,100.0,70.0,50.0,2.0,0.76
12,4.0,1.0,4.0,30.0,100.0,100.0,50.0,2.0,0.66
13,5.0,2.0,5.0,20.0,70.0,100.0,70.0,4.0,1.27
14,4.0,2.0,4.0,30.0,50.0,50.0,50.0,2.0,0.57
15,4.0,1.0,4.0,30.0,62.5,50.0,50.0,3.0,0.52
16,4.0,2.0,4.0,30.0,50.0,50.0,50.0,2.0,0.50
17,5.0,2.0,5.0,20.0,70.0,70.0,70.0,4.0,0.99
18,5.0,2.0,5.0,20.0,70.0,70.0,70.0,4.0,0.92
19,3.0,1.0,3.0,20.0,70.0,70.0,15.0,3.0,0.26
20,5.0,2.0,5.0,20.0,50.0,50.0,50.0,3.0,0.54
21,3.0,1.0,3.0,20.0,100.0,70.0,10.0,2.0,0.18
22,4.0,1.0,4.0,20.0,100.0,70.0,10.0,3.0,0.37
23,4.0,1.0,4.0,20.0,100.0,70.0,20.0,3.0,0.47
24,3.0,1.0,3.0,27.5,100.0,70.0,25.0,1.0,0.37
25,4.0,2.0,4.0,30.0,70.0,50.0,70.0,2.0,0.78
26,3.0,1.0,3.0,20.0,100.0,70.0,20.0,1.0,0.34
27,3.0,1.0,3.0,20.0,100.0,70.0,20.0,1.0,0.38
28,4.0,2.0,4.0,30.0,100.0,70.0,30.0,2.0,0.52
29,5.0,2.0,5.0,20.0,100.0,70.0,70.0,4.0,1.26
30,4.0,2.0,4.0,30.0,100.0,70.0,10.0,1.0,0.32
31,4.0,2.0,4.0,30.0,70.0,100.0,10.0,1.0,0.09
32,5.0,2.0,5.0,20.0,70.0,70.0,70.0,4.0,1.69
33,5.0,2.0,5.0,30.0,50.0,50.0,50.0,2.0,0.73

In [17]:
cleaned_data.to_excel('D:/Python_ISI/Cleaned.xlsx')