# Data Merging Exercise: 
The data is collected for optimizing a mailing campaign. The features are
given in Mail_Repond_Features.csv file and the response is given in
Mail_Respond_Response.txt file. Can you merge the two files into a single data
set?

In [1]:
#Import the packages
import pandas as mypd

In [2]:
#Import the first dataset
myfeatures=mypd.read_csv(r'D:\Python_ISI\data\Mail_Respond_Features.csv')

In [3]:
#Explore the data
myfeatures.head()

   SL_No  District     House_Type Income Previous_Customer
0      1  Suburban       Detached   High                No
1      2  Suburban       Detached   High               Yes
2      3     Rural       Detached   High                No
3      4     Urban  Semi-detached   High                No
4      5     Urban  Semi-detached    Low                No

In [4]:
#Import the 2nd dataset
myresponse=mypd.read_csv(r'D:\Python_ISI\data\Mail_Respond_Response.txt',delimiter='\t')

In [5]:
#explore the data
myresponse.head()

   SL_No Outcome
0      1      No
1      2      No
2      3     Yes
3      4     Yes
4      5     Yes

In [6]:
#merge the data
mydata=mypd.merge(myfeatures,myresponse,on="SL_No")

In [7]:
mydata.head()

   SL_No  District     House_Type Income Previous_Customer Outcome
0      1  Suburban       Detached   High                No      No
1      2  Suburban       Detached   High               Yes      No
2      3     Rural       Detached   High                No     Yes
3      4     Urban  Semi-detached   High                No     Yes
4      5     Urban  Semi-detached    Low                No     Yes